* {
  overflow-x:hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;

  background: #000000;
  background: radial-gradient(398.50px at 50% 50%, #2B7065 0%, #036857 0.01%, #000000 100%);
}

nav {
  display: flex;
  overflow-y: hidden;
  flex-direction: row;

  width: 100%;
  height: 21px;
  margin-top: 16px;
  padding-bottom: 12px;

  background-color: #000000;

  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  overflow-y: hidden;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.menu a {
  overflow-y: hidden;

  padding: 12px 10px 0;
}

.menu a, a:visited {
  overflow-y: hidden;

  text-decoration: none;
  text-transform: uppercase;

  color: #FFFFFF;

  font-family: 'Rubik-Medium';
  font-size: 8pt;
  font-weight: 400;
}

.main-picture_one{
  overflow-y: hidden;

  width: 75%;
  margin-top: 13px;
  margin-right: 41px;
  margin-left: 41px;
}

.dates {
  display: grid;
  overflow-y: hidden;

  width: 100%;
  margin-top: 13px;
  margin-bottom: 24px;

  grid-template-columns: 30vw 30vw;
  grid-template-rows: 20vw 20vw 20vw;
  grid-row-gap: 1vw;
  grid-column-gap: 3vw;
  justify-content: center;
  justify-items: start;
  align-items: start;

}

.griditem-two,
.griditem-four,
.griditem-six {
  overflow-y: hidden;


}

.dates h2 {
  overflow-y: hidden;

  color: #FFFFFF;

  font-family: 'Rubik-Bold';
  font-size: 24px;
}

.dates h3 {
  overflow-y: hidden;

  margin-top: 7px;

  color: #FFFFFF;

  font-family: 'Rubik-Light';
  font-size: 18px;
}

.dates p.name {
  overflow-y: hidden;

  width: 50px;
  margin-top: -47px;
  margin-left: 44px;

  color: #FFFFFF;

  font-family: 'Rubik-Medium';
  font-size: 12px;
}

.dates p.date {
  overflow-y: hidden;

  margin-top: 11px;
  margin-left: 44px;

  color: #FFFFFF;

  font-family: 'Rubik-Light';
  font-size: 10px;
}

.address {
  overflow-y: hidden;

  width: 215px;
  margin-bottom: 13px;
  margin-left: 52px;

  text-align: center;

  color: #FFFFFF;

  font-family: 'Rubik-Light';
  font-size: 10pt;
}

footer ul {
  display: flex;
  overflow-y: hidden;
  flex-direction: row;

  height: 21px;
  margin-bottom: 16px;
  padding-bottom: 12px;

  background-color: #000000;

  justify-content: center;
  align-items: center;
}

footer ul li {
  overflow-y: hidden;

  padding: 12px 10px 0;
}

footer ul li a, a:visited {
  overflow-y: hidden;

  text-decoration: none;
  text-transform: uppercase;

  color: #FFFFFF;

  font-family: 'Rubik-Medium';
  font-size: 8pt;
  font-weight: 400;
}

@media (min-width: 768px) {
 nav {
   height: 35px;
   margin-top: 36px;
   padding-bottom: 26px;
 }

 .menu a {
   padding: 25px 35px 0;
 }

 .menu a, a:visited {
   font-size: 14pt;
 }

 .main-picture_one{
   width: 90%;
   margin-top: 26px;
   margin-right: 41px;
   margin-left: 38px;
 }

 footer ul {
   height: 35px;
   margin-bottom: 36px;
   padding-bottom: 26px;
 }

 footer ul li {
   padding: 25px 35px 0;
 }

 footer ul li a, a:visited  {
   font-size: 14pt;
 }

 .dates {
   margin-top: 30px;
   margin-bottom: 30px;

   grid-template-columns: 25vw 25vw 25vw;
   grid-template-rows: 20vw 20vw;
   grid-row-gap: 1vw;
   grid-column-gap: 4vw;
   justify-content: center;
   justify-items: start;
   align-items: start;
 }

 .dates h2 {
   font-size: 36pt;
 }

 .dates h3 {
   text-transform: uppercase;

   font-size: 18pt;
 }

 .dates p.name {
   width: 80px;
   margin-top: -73px;
   margin-left: 68px;

   font-size: 14pt;
 }

 .dates p.date {
   margin-top: 20px;
   margin-left: 68px;

   font-size: 12pt;
 }

 .address {
   width: 296px;
   margin-bottom: 26px;
   margin-left: 52px;

   text-align: center;

   color: #FFFFFF;

   font-family: 'Rubik-Light';
   font-size: 10pt;
 }
}
@media (min-width: 1024px) {
 nav {
   height: 35px;
   margin-top: 36px;
   padding-bottom: 26px;
 }

 .menu a {
   padding: 25px 35px 0;
 }

 .menu a, a:visited {
   font-size: 14pt;
 }

 .main-picture_one{
   width: 90%;
   margin-top: 26px;
   margin-right: 41px;
   margin-left: 38px;
 }

 footer ul {
   height: 35px;
   margin-bottom: 36px;
   padding-bottom: 26px;
 }

 footer ul li {
   padding: 25px 35px 0;
 }

 footer ul li a, a:visited  {
   font-size: 14pt;
 }

 .dates {
   width: 558px;
   height: 181px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 66px;
 }

 .dates h2 {
   font-size: 36pt;
 }

 .dates h3 {
   text-transform: uppercase;

   font-size: 18pt;
 }

 .dates p.name {
   width: 80px;
   margin-top: -73px;
   margin-left: 68px;

   font-size: 14pt;
 }

 .dates p.date {
   margin-top: 20px;
   margin-left: 68px;

   font-size: 12pt;
 }

 .address {
   width: 296px;
   margin-bottom: 26px;
   margin-left: 52px;

   text-align: center;

   color: #FFFFFF;

   font-family: 'Rubik-Light';
   font-size: 10pt;
 }
}

@media (min-width: 1440px) {
 nav {
   height: 35px;
   margin-top: 36px;
   padding-bottom: 26px;
 }

 .menu a {
   padding: 25px 35px 0;
 }

 .menu a, a:visited {
   font-size: 14pt;
 }

 .main-picture_one{
   width: 90%;
   margin-top: 26px;
   margin-right: 41px;
   margin-left: 38px;
 }

 footer ul {
   height: 35px;
   margin-bottom: 36px;
   padding-bottom: 26px;
 }

 footer ul li {
   padding: 25px 35px 0;
 }

 footer ul li a, a:visited  {
   font-size: 14pt;
 }

 .dates {
   width: 558px;
   height: 181px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 66px;
 }

 .dates h2 {
   font-size: 36pt;
 }

 .dates h3 {
   text-transform: uppercase;

   font-size: 18pt;
 }

 .dates p.name {
   width: 80px;
   margin-top: -73px;
   margin-left: 68px;

   font-size: 14pt;
 }

 .dates p.date {
   margin-top: 20px;
   margin-left: 68px;

   font-size: 12pt;
 }

 .address {
   width: 296px;
   margin-bottom: 26px;
   margin-left: 52px;

   text-align: center;

   color: #FFFFFF;

   font-family: 'Rubik-Light';
   font-size: 10pt;
 }
}
