* {
  overflow-x:hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(900.00px at 50% 50%, #2B7065 0%, #036857 0.01%, rgba(14, 67, 54, 0.58) 100%);
  background-color: #000000;
}

nav {
  z-index: 1;

  overflow-y: hidden;

  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;

  height: 6px;
  margin-top: 55px;
  padding-bottom: 70px;

  background-color: #000000;

  align-items: center;
  justify-content: center;
}

ul img {
  width: 41px;
  height: 21px;
  padding-top: 73px;
}

nav ul li {
  padding: 73px 30px 0;
}

nav ul li a, a:visited {
  text-decoration: none;
  text-transform: uppercase;

  color: #FFFFFF;

  font-family: 'Rubik';
  font-size: 20pt;
  font-weight: Medium;
}

.menu {
  display: none;
}

.main-picture {
  display: flex;

  align-items: center;
  justify-content: center;
}

.main-picture_one {
  position: absolute;
  z-index: -3;
  top: -175px;
  right: 0;
  bottom: 0;
  left: -170px;

  width: 120%;
}

.main-picture_two {
  position: absolute;
  z-index: -2;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;

  background: radial-gradient(900.00px at 50% 50%, #2B7065 0%, #036857 0.01%, rgba(0, 0, 0, 0.58) 100%);
  background-size: 200%;
}

.main-picture_three {
  z-index: -1;

  width: 80%;
}

footer ul {
  z-index: 2;

  display: flex;
  flex-direction: row;

  height: 6px;
  margin-top: 55px;
  padding-bottom: 70px;

  background-color: #000000;

  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 73px 165px 0;
}

footer ul li a, a:visited {
  text-decoration: none;
  text-transform: uppercase;

  color: #FFFFFF;

  font-family: 'Rubik';
  font-size: 20pt;
  font-weight: Medium;
}
